<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

</head>

<body>
    <h2>Sign-Up</h2>

    <Form action="/add_activity" method="POST">
        {% csrf_token %}

        <label for="name">Name: </label>
        <input type="text" id="name" name="name"> <br> <br>

        <label for="notes">Notes: </label>
        <input type="text" id="notes" name="notes">

        
        <input type="hidden" value={{day}} name="day" /> <br>

        <input type="hidden" value="{{start_time}}" name="start_time" /> 
        <input type="hidden" value="{{end_time}}" name="end_time" />
        <p>Time: {{start_time}} - {{end_time}},  {{day}}</p> 

        <button type="submit">Save</button> 
    </Form>
    

</body>
</html>