.navbar-login-box {
  background-color: red;
  width: 300px;
  height: 100px;
}

.navbar-swap-menu {
  position: absolute;
  display: flex;
  align-items: center;
  width: 23%;
  bottom: 20%;
  height: 100%;
  right: 14%;
}

.navbar-swap-menu-time {
  width: 95%;
  border-radius: 0.1rem;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  flex-shrink: 0;
}

.navbar-swap-menu-time-glow-left, .navbar-swap-menu-time-glow-right {
  width: 35%;
  border-radius: 0.25rem;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  animation: rotation 5s linear infinite;
}

.navbar-swap-menu-time-glow-left {
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-3),
    var(--clr-3),
    var(--clr-3),
    var(--clr-3)
  );
}


.navbar-swap-menu-time-glow-right {
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-1),
    var(--clr-2),
    var(--clr-2),
    var(--clr-2),
    var(--clr-2)
  );
}

.navbar-swap-menu-arrow {
  width: 100%;
  height: 40%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrowhead-lower {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  right: -7%;
  top: 110%;
  width: 13%;
}

.arrowhead-upper {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  bottom: 110%;
  right: -7%;
  width: 13%;
}

@property --gradient-angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}


@keyframes rotation {
  0%   { --gradient-angle: 0deg; }
  100% { --gradient-angle: 360deg; }
}


.navbar-arrow-glow {
  width: 28%;
  left: 35%;
  position: absolute;
  height: 20%;
  top: calc(50% - 20%/2);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
  animation: rotation 5s linear infinite;
}

.navbar-arrowhead-glow {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1976d2;
  animation: rotation 5s linear infinite;
}

.swaphub-dropdown-outer {
  width: 20%;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  position: absolute;
  top: 150%;
  right: 0%;
  background-color:#eceff1;
  outline: grey solid 0.5px;
}

.swaphub-dropdown-items {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  overflow-y: scroll;
}

.swaphub-dropdown-item-sent,
.swaphub-dropdown-item-received {
  width: 90%;
  height: 30%;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 7%;
  position: relative;
  background-color:#dee2e6;
  border-radius: 0.5rem;
  cursor: pointer;
}

.swaphub-dropdown-item-arrow {
  background-color: black;
  width: 55%;
  left: 15%;
  height: 5%;
  position: absolute;
  top: 50%;
}

.arrow-right, .arrow-left {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  bottom: -125%;
}

.arrow-right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  right: 0%;
}

.arrow-left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  left: 0%;
}

.swaphub-dropdown-item-accept-decline {
  width: 10%;
  height: 50%;
  border-radius: 0.75rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  top: 25%;
  left: 5%;
  position: absolute;
}

.swaphub-dropdown-item-cancel-request {
  background-color: #b71c1c;
}
